.dropdown-item, .dropdown-toggle{
    cursor: pointer;
}
/* 
.form-align{
    position: absolute;
    right: 10px;
    top: 4px;
} */

img{
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

.align-right{
    position: absolute;
    right: 35px;
}