<nav class="navbar navbar-expand-md navbar-dark bg-dark pad2x">
  <a class="navbar-brand" [routerLink]="['']" >Messaging App</a>


  <div *ngIf="loggedIn()">
    
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item0" routerLinkActive="active">
        <a class="nav-link" [routerLink] = "['/members']"> Members </a>
      </li>
      <li class="nav-item0" routerLinkActive="active">
        <a class="nav-link" [routerLink] = "['/liked']"> Liked ♥ </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>
  </div>
  
  <div *ngIf="loggedIn()" class="dropdown align-right" dropdown>
    
    <span dropdownToggle>
      <img src="{{photoUrl}}" alt="{{authService.currentUser.Name}}" class="rounded-circle">
    </span>

    <a class="btn dropdown-toggle text-light" dropdownToggle>
        <i class="fa fa-user"></i>&nbsp;{{authService.decodedToken.unique_name}}
      </a>

      <div class="dropdown-menu mt-2 mr-auto" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user" aria-hidden="true"></i> Edit Profile</a>
        <div class="dropdown-divider" href="#"></div>
        <a class="dropdown-item" (click)="logout()"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
      </div>
    </div>



<div class="align-right ">

  <form *ngIf="!loggedIn()" #loginFormReference = "ngForm" class="form-inline" (ngSubmit) = "login()">
    <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username"
     required [(ngModel)]="model.username" >
    <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password"
    required [(ngModel)]="model.password">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    
  </form>
</div>
    
  </nav>
